torch>=1.13.1
torchvision
transformers>=4.22.0
datasets
scikit-learn
numpy
pandas
tqdm
scipy
matplotlib
seaborn
onnxruntime
tensorboard
pyyaml
joblib
optuna
shap
captum
librosa
pyannote.core
python_speech_features
soundfile
requests